<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="styles3.css">
</head>
<body>

    <div class="container">
        <h1>Confirmation</h1>
        <h2>Details added Successfully!</h2>
        
        <p>Name: <strong><%= name %></strong></p>
        <p>Address: <strong><%= address %></strong></p>
        <p>Department: <strong><%= department %></strong></p>
        <p>phone: <strong><%= phone %></strong></p>
        <p>qualification: <strong><%= qualification %></strong></p>
        <p>Your User ID is: <strong><%= userId %></strong></p>


        <a href="/">BACK TO HOME PAGE</a>
    </div>

</body>
</html>
