<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles4.css"> <!-- Link to your CSS file -->
    <title>User Details</title>
</head>
<body>
    
    <div class="container">
        <h1>PERSONAL Details</h1>
         <p><strong>Qualification:</strong> <%= user.qualification %></p>
        <p><strong>Name:</strong> <%= user.name %></p>
        <p><strong>Department:</strong> <%= user.department %></p>
        <p><strong>Address:</strong> <%= user.address %></p>
        <p><strong>Phone:</strong> <%= user.phone %></p>
        
        <a href="/">BACK TO HOME</a>
    </div>
</body>
</html>

